@charset "utf-8";
body             {
			FONT-FAMILY: Arial, Verdana, Helvetica; color: black; FONT-SIZE: 10pt;

		         }

h1             {
			font-family: Arial, sans-serif; color: black; font-size: 24pt;

		         }
h2             {
			font-family: Arial, sans-serif; color: purple; font-size: 18pt;

		         }

h3             {
			font-family: Arial, sans-serif; color: black; font-size: 13pt;

		         }











.normal             {
			FONT-FAMILY: Arial, Verdana, Helvetica; color: #000000; FONT-SIZE: 10pt;

		         }


.h1             {
			font-family: Arial, sans-serif; color: black; font-size: 24pt;

		         }
.h2             {
			font-family: Arial, sans-serif; color: teal; font-size: 18pt;

		         }

.h3             {
			font-family: Arial, sans-serif; color: teal; font-size: 13pt;

		         }
