@charset "utf-8";
H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bc {
	FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: 115%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bc_div {
	FONT-SIZE: 80%; MARGIN: 12px; COLOR: black; LINE-HEIGHT: 115%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcform {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-LEFT: 5px; COLOR: black; MARGIN-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bottomnav {
	FONT-SIZE: 65%; COLOR: black; LINE-HEIGHT: 135%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcitalic {
	FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: 115%; FONT-STYLE: oblique; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcblditl {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: 115%; FONT-STYLE: oblique; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcbold {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: 115%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcboldsm {
	FONT-WEIGHT: bolder; FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: 115%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bcsm {
	FONT-SIZE: 75%; COLOR: black; LINE-HEIGHT: 115%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
A {
	COLOR: #093
}
.HdGreen {
	FONT-WEIGHT: bolder; FONT-SIZE: 130%; COLOR: #093; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.sh {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: black; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.shblue {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #36c; LINE-HEIGHT: 110%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.shblk {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: black; LINE-HEIGHT: 110%; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.shgreen {
	FONT-WEIGHT: bolder; FONT-SIZE: 90%; COLOR: #093; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.sh2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 100%; COLOR: #093; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.sh2red {
	FONT-WEIGHT: bolder; FONT-SIZE: 100%; COLOR: #c33; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bigquote {
	FONT-WEIGHT: bolder; FONT-SIZE: 100%; COLOR: #639; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.HdPurple {
	FONT-WEIGHT: bolder; FONT-SIZE: 130%; COLOR: #639; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.Hdred {
	FONT-WEIGHT: bolder; FONT-SIZE: 150%; COLOR: #c33; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.HdBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; COLOR: #36c; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.navbc {
	FONT-SIZE: 70%; MARGIN-LEFT: 5px; COLOR: black; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.navSH {
	FONT-WEIGHT: bolder; FONT-SIZE: 80%; MARGIN-LEFT: 5pt; COLOR: white; TEXT-INDENT: 10px; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-ALIGN: right
}
.formtext {
	FONT-SIZE: small
}
.byline {
	FONT-SIZE: 80%; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bylinePurple {
	FONT-SIZE: 80%; COLOR: #639; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.bylineblue {
	FONT-SIZE: 80%; COLOR: #36c; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.formfix {
	MARGIN-BOTTOM: 0pt
}
