@charset "utf-8";
/* STYLE SHEET FOR BLITZ.HTML */

/*body             {
			font-family: Osaka, 'ＭＳ Ｐゴシック', sans-serif; color: black; font-size: 10pt; background: tan;

		         }*/


/*h1             {
			font-family: Osaka, 'ＭＳ Ｐゴシック', sans-serif; color: black; font-size: 24pt;

		         } */
/*h2             {
			font-family: Osaka, 'ＭＳ Ｐゴシック', sans-serif; color: black; font-size: 18pt;

		         } */

/*h3             {
			font-family: Osaka, 'ＭＳ Ｐゴシック', sans-serif; color: black; font-size: 13pt;

		         } */
